body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  font-weight: 800;
  font-size: 85px;
  text-align: center;
  font-style: oblique;
  text-shadow: 4px 2px 2px gray;
}

.nonUnderline {
  text-decoration: none;
}
