  
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #569aff;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  font-style: oblique;
}
h2 {
  text-align: center;
}
address {
  text-align: center;
}
#hwino {
  color: #569AFF;
}
#wonjun {
  color: #9ACD32;
}
#minjoeng{
  color: #FFC700;
}
#wooseok{
  color: #F6917D;
}


.nonUnderline {
  text-decoration: none;
}
