body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #f6917d;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  font-style: oblique;
}
h2 {
  text-align: center;
}
address {
  text-align: center;
}
#hwino {
  color: blue;
}
#won6un {
  color: green;
}
#minjung {
  color: orange;
}
#wooruck {
  color: #f6917d;
}
.nonUnderline {
  text-decoration: none;
}
