body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: black;
  font-weight: 800;
  font-size: 54px;

  font-style: oblique;
  text-shadow: 4px 2px 2px gray;
}

#hwino {
  color: #569aff;
}
#won6un {
  color: yellowgreen;
}
#minjeong {
  color: #ffc700;
}
#wooruck {
  color: #f6917d;
}
#sponsor {
  color: black;
}
.nonUnderline {
  text-decoration: none;
}

